.hero-wrapper {
  position: relative;
  height: 380px;
  background: linear-gradient(#eaf6ff, #ffffff);
  overflow: hidden;
  z-index: 1;
 
}


.hero-slide {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 80px;
}

/* LEFT */
.hero-text {
  width: 40%;
}

.hero-text h1 {
  font-size: 42px;
  font-weight: 700;
  color: #222;
}

.hero-text p {
  margin-top: 12px;
  font-size: 18px;
  color: #555;
}

/* RIGHT */
.hero-image {
  width: 60%;
  text-align: right;
}

.hero-image img {
   max-height: 300px;  
  object-fit: contain;
  max-width: 100%;
}

/* PAGINATION DOTS */
.swiper-pagination-bullet {
  background: #ccc;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #f37021; /* ICICI orange */
}

/* NEED HELP */
.need-help-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  background: #004a8f;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
}
