/* ----------- GLOBAL RESET ----------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}


html,
body,
#root {
  width: 100%;
  overflow-x: hidden;
}

/* BODY */
body {
  background: #f5f7fb;
  color: #333;
}

/* Utility container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}

/* Headings */
h1,
h2,
h3 {
  font-weight: 600;
}

/* Flex helpers */
.flex {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
